
@font-face {
  font-family: "Zawgyi-Tai";

<<<<<<< HEAD
  src: url("./Zawgyi-Tai.otf") format("opentype"), /* Open Type Font */
    url("./Zawgyi-Tai.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./Zawgyi-Tai.woff") format("woff"); /* Modern Browsers */
=======
  src: url("Zawgyi-Tai.otf") format("opentype"), /* Open Type Font */
    url("Zawgyi-Tai.ttf") format("truetype"), /* Safari, Android, iOS */
    url("Zawgyi-Tai.woff") format("woff"); /* Modern Browsers */
>>>>>>> 9a270f8a94c18be577352db8d44a45c2575df9e8
  font-weight: normal;
  font-style: normal;
}
